@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #00a4b4;
    --white-color: #fff;
    --black-color: #000;

    --border-color: hsl(220, 68%, 97%);
    --body-color: hsl(220, 100%, 99%);

    --primary-shadow: 0 2px 8px hsla(220, 68%, 12%, .1);

}

.main_padding {
    padding: 180px 0 20px;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

::-webkit-scrollbar {
    width: 0.425rem;
}

::-webkit-scrollbar-track {
    background-color: var(--white-color);
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}


h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 24px;
    text-transform: capitalize;
}


h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
}

h3 {
    font-size: 1.125rem;
    font-weight: 800;
    text-transform: capitalize;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .0625rem;
}


.main-btn {
    padding: 0.625rem 1.875rem;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0 .125rem .625rem -0.0625rem rgb(0 0 0 /19%);
    transition: all .4s ease-out 0s;
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white-color);
}

.main-btn:hover {
    background: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.main_heading {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.main_para {
    max-width: 75%;
}


/* navbar */
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .main-btn {
    display: block !important;
    color: #fff !important;
}

nav .main-btn:hover {
    color: var(--primary-color) !important;
}

nav {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 100px;
    line-height: 80px;
    box-shadow: var(--primary-shadow);
}

nav .wrapper {
    position: relative;
    /* max-width: 1250px; */
    /* padding: 0 30px; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo {
    max-width: 180px;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li a {
    color: #000;
    text-decoration: none;
    padding: 9px 15px;
    font-weight: 500;
    font-size: 18px;
    display: inline-flex;
    gap: 5px;
}

.nav-links .drop-menu {
    background-color: #fff;
    width: auto;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    box-shadow: var(--primary-shadow);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    top: 100px;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
}

.nav-links .mobile-item {
    display: none;
}

.wrapper .btn {
    color: #000;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.cancel-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width:992px) {
    .wrapper .btn {
        display: block;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        background-color: #fff;
        display: block;
        top: 0;
        left: -100%;
        line-height: 50px;
        overflow-y: auto;
        padding: 50px 10px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        transition: all .3s ease;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    .nav-links::-webkit-scrollbar {
        width: 0px;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        top: 65px;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: all .3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    .nav-links .drop-menu li {
        margin: 0;
    }

    .nav-links .drop-menu li a {
        font-size: 18px;
        border-radius: 5px;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        font-size: 20px;
        color: #000;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all .3s ease;
    }

    .nav-links .drop-menu {
        padding: 0;
    }

}

.wrapper input {
    display: none;
}


/* .navigation-wrap.scroll-on{
    position: fixed;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    z-index: 1000;
    transition: all .3s ease-in-out;
}

header .navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.navigation-wrap .navbar-brand img{
    width: 180px;
}

.navigation-wrap .nav-item{
    padding: 0 15px;
    transition: all 200ms linear;
}

.navigation-wrap .navbar-toggler:focus{
    outline: none;
    border: unset;
    box-shadow: none;
}

.navigation-wrap .nav-link{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-color);
} */


.main_wrapper {
    padding: 100px 0 0px;
    background-color: #f8f7f3;
}

.top_banner {
    width: 100%;
    background-size: cover;
    padding: 50px 0;
}

.top_banner p {
    margin-bottom: 30px;
}

.top_banner h6 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary-color);
    font-weight: 600;
}



.about_wrapper {
    padding: 50px 0;
}

.about_wrapper .grid_row {
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 30px;
}



.training_programs {
    padding: 50px 0;
    background-color: #f8f7f3;
}

.training_programs .grid_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.training_programs .item {
    /* border: 1px solid var(--primary-color); */
    height: auto;
    /* padding-bottom: 30px !important; */
}

/* .training_programs .item .prgm_image{
    margin-bottom: 10px;
} */
.training_programs .item .prgm_details {
    padding: 10px 10px 30px;
    background-color: #fff;
}

.training_programs .item .prgm_details p {
    height: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.training_programs .item .prgm_name {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}


/* core_values */

.core_values {
    background-color: var(--primary-color);
    padding: 100px 0;
}

.core_values .main_heading,
.core_values .main_para {
    color: #fff;
}

.core_values .grid_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.core_values .item {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.core_values .core_image {
    width: 80px;
    margin: 20px auto;
}

.core_values .core_name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}




/* testimonial css */

.testimonial_wrapper {
    padding: 100px 0;
    background-color: #fff;
}

.testimonial_wrapper .swiper-wrapper {
    padding: 50px 0;
    margin: 0 auto;
    /* text-align: center; */
}

/* .testimonial_wrapper .swiper-slide {
    padding-top: 70px;
} */

.testimonial_wrapper .swiper-wrapper .profile_image {
    width: 120px;
    height: 120px;
    /* margin: auto; */
    margin-bottom: 20px;
}

.testimonial_wrapper .swiper-wrapper .profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* padding: 5px; */
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}

.testimonial_wrapper .student_name {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 0;
}



.testimonial_wrapper .testiminial_content {
    position: relative;
    /* max-width: 850px; */
    margin: auto;
}

.testimonial_wrapper .testiminial_content img {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 50px;
    opacity: 0.2;
    transform: rotate(180deg);
}

.testimonial_wrapper.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    width: 40px !important;
    height: 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.testimonial_wrapper.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 20px;
    height: 10px;
    border-radius: 10px;
}



.contact_wrapper .container {
    padding: 50px 0;
    margin: 0 auto;
}

.contact_wrapper {
    background-color: #f8f7f3;
    /* padding: 100px 0; */
}




/* .contact_wrapper form {
    padding-top: 30px;
    max-width: 800px;
} */
/* .contact_wrapper .grid_row{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 50px;
} */
.contact_wrapper .input-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 1.5rem;
}

.contact_wrapper .input-box input {
    width: 100%;
    height: 45px;
    border-radius: 0;
}

.contact_wrapper textarea {
    border-radius: 0;
}

.contact_wrapper .input-box input:focus,
.contact_wrapper textarea:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid var(--primary-color);
}

.contact_wrapper .main-btn {
    /* border: none; */
    margin: 20px 0;
    display: flex;
    gap: 5px;
}


.contact_wrapper .loaction_details{
    padding-top: 30px;
}
.contact_wrapper .loaction_details .item{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.contact_wrapper .item .icon{
    width: 60px;
}
.contact_wrapper .item p{
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 500;
}
.contact_wrapper .item a{
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 500;
    color: #000;
}


/* footer */

footer {
    padding: 100px 0;
    background-color: #00445a;
}

footer .grid_row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 30px;
    color: #fff;
}

footer .footer_logo {
    max-width: 150px;
}

.footer_desc {
    font-size: 14px;
    max-width: 90%;
}

.footer_title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer_link {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer_link a,
.social_links i {
    color: #fff;
}

.social_links {
    display: flex;
    gap: 15px;
}

.social_links li {
    font-size: 22px;
    transition: all .4s ease-in;
}

.social_links li:hover {
    transform: scale(1.2);
}

footer .contact_details {
    margin-top: 30px;
}

footer .contact_details li {
    margin-bottom: 15px;
    font-size: 18px;
}

footer .contact_details li a {
    display: inline-flex;
    gap: 5px;
    color: #fff;
}






.about_page_wrapper {

    background-color: #f8f7f3;
}

.mission_vision {
    padding: 50px 0;
}

.our_core_values {
    padding: 50px 0;
    background-color: var(--primary-color);
    color: #fff;
}

.our_core_values h2 {
    margin-bottom: 20px;
}

.our_core_values h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.our_core_values ul {
    list-style: disc;
    padding-left: 15px;
}

.our_core_values ul li {
    list-style: disc;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
}


.our_team {
    padding: 50px 0;
}




.training_programs_page{
    padding: 0 !important;
    background-color: #fff;
}

.training_programs_page .item{
    background-color: #f7f7f7 !important;
    border: 1px solid var(--border-color);
}

.training_programs_page .item .prgm_details p {
    height: 80px !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}







.service_page_wrapper .grid_row{
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
}
.service_page_wrapper .right{
    padding: 10px 30px;
}

.service_page_wrapper .prgm_name{
    font-size: 32px;
    font-weight: 700;
}

