

@media screen and (max-width:1024px){
    h1{
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    p{
        line-height: 24px;
    }
    .top_banner p{
        margin-bottom: 0;
    }
    .top_banner h6{
        font-size: 14px;
    }

    .main_heading {
        font-size: 36px;
        margin-bottom: 5px;
    }
    .hero-title{
        font-size: 40px;
    }

    .about_wrapper .grid_row{
        gap: 25px;
    }
    .about_wrapper .specification .icon{
        max-width: 40px;
        max-height: 40px;
        min-width: 40px;
        min-height: 40px;
    }
    .lets_talk .content h2{
        font-size: 28px;
    }
    .clients .swiper-button-prev{
        left: 89%;
    }
    .footer_title{
        font-size: 20px;
    }
    footer .grid_row{
        grid-template-columns: 1fr 1fr;
    }


    .about_page_wrapper .flex_row{
        flex-direction: column;
    }
    .why_choose_us .grid_row{
        gap: 15px;
    }
    .why_choose_us .item{
        gap: 15px;
    }
    .why_choose_us .item .icon{
        max-width: 50px;
        max-height: 50px;
        min-width: 50px;
        min-height: 50px;
    }

    .contact_page_wrapper .item{
        gap: 15px;
    }
    .contact_page_wrapper .grid_row{
        gap: 30px;
    }
    .contact_page_wrapper .contact_form .flex_row{
        flex-direction: column;
        align-items:unset;
    }
}



/* tablet */
@media screen and (max-width:991px){
    h1{
        font-size: 35px;
    }
    
    .hero .swiper-slide{
        height: 50vh !important;
    }
    .about_wrapper .grid_row{
        grid-template-columns: 1fr;
    }
    .about_wrapper .grid_row .right{
        order: 1;
    }
    .about_wrapper .grid_row .left{
        order: 2;
    }
    .our_services .grid_row{
        grid-template-columns: 1fr 1fr;
    }
    .swiper-backface-hidden .swiper-slide{
        text-align: center;
    }
    .testimonial_wrapper .swiper-wrapper .profile_image{
        margin: auto;
    }
    .lets_talk .content h2{
        font-size: 24px;
    }
    .clients .swiper-button-prev{
        left: 85%;
    }


    .about_page_wrapper .grid_row{
        grid-template-columns: 1fr;
    }
    .about_page_wrapper .grid_row .image{
        order: 2;
    }
    .why_choose_us .grid_row{
        grid-template-columns: 1fr 1fr;
    }
    .service_page_wrapper .grid_row{
        grid-template-columns: 1fr;
    }

    .service_page_wrapper .item .service_image{
        order: 2;
    }
    .contact_page_wrapper .grid_row{
        grid-template-columns: 1fr;
    }
    .service_detail_page .service_images{
        flex-wrap: wrap;
        gap: 20px;
    }
    .service_detail_page .service_images img{
        min-width: 500px;
    }
    .service_detail_page .service_content{
        grid-template-columns: 1fr;
    }
   
}

@media screen and (max-width:768px){
    .hero .swiper-slide{
        height: 80vh !important;
    }
    .lets_talk .content h2{
        font-size: 22px;
    }
    .lets_talk .phone_contact{
        margin: 40px 0;
    }
}



/* phone */
@media screen and (max-width:600px){
    .header-top{
        display: none;
    }
    .header .header_btns{
        display: none;
    }
    .custom-prev, .custom-next{
        display: none;
    }
    .hero-title{
        font-size: 26px;
    }
    .hero-text{
        max-width: 100%;
    }
    .main_para{
        max-width: 100%;
    }

    .about_wrapper .specification{
        flex-direction: column;
        align-items: unset;
        gap: 30px;
    }
    .about_wrapper .specification .icon {
        max-width: 70px;
        max-height: 70px;
        min-width: 70px;
        min-height: 70px;
    }
    .our_services .grid_row{
        grid-template-columns: 1fr;
    }
    .lets_talk .grid_row{
        grid-template-columns: 1fr;
    }
    .lets_talk .image{
        height: auto;
    }
    .clients .swiper-button-prev{
        left: 72%;
    }
    .service_page_wrapper .grid_row{
        row-gap: 30px;
    }
    .service_page_wrapper .service_content .service_name{
        font-size: 28px;
    }
    .service_detail_page .service_images img{
        min-width: 100%;
    }

    .about_page_wrapper .content h2{
        font-size: 24px;
    }

    .why_choose_us .grid_row{
        grid-template-columns: 1fr;
    }

    .contact_page_wrapper .map_box{
        padding: 15px;
    }

    .training_programs .grid_row{
        grid-template-columns: 1fr;
    }
    .core_values .grid_row{
        grid-template-columns: 1fr;
    }
    .main_heading{
        font-size: 30px;
    }
    footer .grid_row{
        grid-template-columns: 1fr;
    }
    .contact_wrapper .input-box{
        grid-template-columns: 1fr;
    }
    .service_page_wrapper .grid_row{
        grid-template-columns: 1fr;
    }
    .service_page_wrapper .right{
        padding: 10px 10px 30px;
    }
}